body {
    padding: 4% 7% 0 7%;
    margin: 0;
}

.body {
    //to stick the footer to the bottom of the screen.
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    line-height: 142.6%;
    font-weight: 500;
    list-style: none;
}

*:visited {
    color: inherit;
}

li {
    list-style: none;
    font-weight: 400;
}