// Color
$clr_primary: #FF6060;
$clr_secondary: #F7F7F7;
$clr_hover: #a93f3f;
$clr_light: white;
$clr_dark: black;

// Font Size
$f-s_10: 10px;
$f-s_12: 12px;
$f-s_13: 13px;
$f-s_14: 14px;
$f-s_18: 18px;
$f-s_24: 24px;
$f-s_36: 36px;
$f-s_48: 48px;
$f-s_96: 96px;
$f-s_192: 192px;
$f-s_288: 288px;

// Font Weight
$f-w_400: 400;
$f-w_500: 500;
$f-w_700: 700;