.slider-cntnr {
    position: relative;
    width: 100%;
    height: 415px;
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-img {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 415px;
    transform-origin: center;
    z-index: -1;
}

.display-number {
    position: absolute;
    left: 50%;
    bottom: 5%;
    color: $clr_light;
    font-size: $f-s_18;
    font-weight: $f-w_500;

}

.arrow-left {
    transform: rotate(180deg);
    padding: calc((415px - 80px) / 2) 20px;
    /* la hauteur du carrousel -la hauteur du chevron /2 qui me donnne toute la hauteur pour cliquer.*/
}

.arrow-left:hover {
    cursor: pointer;
}

.arrow-right {
    padding: calc((415px - 80px) / 2) 20px;
}

.arrow-right:hover {
    cursor: pointer;
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
    .slider-cntnr {
        height: 300px;
    }

    .slider-img {
        height: 300px;
    }

    .arrow-left {
        transform: scale(.75) rotate(180deg);
        padding: calc((450px - 10px) / 2) 20px;
    }

    .arrow-right {
        transform: scale(.75);
        padding: calc((450px - 10px) / 2) 20px;
    }
}

@media only screen and (max-width: 500px) {
    .slider-cntnr {
        height: 255px;
    }

    .slider-img {
        height: 255px;
    }

    .display-number {
        display: none;
    }

    .arrow-left {
        transform: scale(.5) rotate(180deg);
        padding: calc((415px - 10px) / 2) 20px;
    }

    .arrow-right {
        transform: scale(.5);
        padding: calc((415px - 10px) / 2) 20px;
    }
}