nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: nowrap;
    @include navbar_desktop;
}

nav a {
    padding: 5px 5px 5px 10px;
    text-decoration: none;
}

nav a:hover {
    color: #a93f3f;
}

.active {
    text-decoration: underline;
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
    nav {
        @include navbar_tablet;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        @include navbar_mobile;
        text-transform: uppercase;
    }
}